@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: #111;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}
p {
  font-size: 1.4rem;
  margin-left: 10px;
}
